.Car {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #bbb;
    margin-bottom: 20px;
    text-align: center;
}

input.input {
    outline: none;
}

.input.green {
    border: 2px solid green;
    outline: none;
}

.input.red {
    border: 2px solid red;
    outline: none;
}